body {
    font-family: 'Mulish', sans-serif;
}

.header .back {
    padding: 4px;
    margin-right: 10px;
}

.cart-list .list .img {
    width: 120px;
    border-radius: 7px;
    overflow: hidden;
    margin-right: 30px;
}

.cart-list .list .img img {
    width: 100%;
}

.cart-list .list .content {
    width: calc(100% - 120px);
}

.box-qr-code {
    position: relative;
    overflow: hidden;
    height: 500px;
}

.box-qr-code .qr-code {
    position: absolute;
    width: calc(100% + 100px);
    transform: scale(1.05);
    top: -65px;
}

.loadingggg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 2222;
    background: rgba(0, 0, 0, 0.2);
}

.loadingggg .loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url("/imgs/bg_down_page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.loading_screen {
    display: block;
    width: 6.25em;
    height: 6.25em;
}

.loading_screen__ring,
.loading_screen__ball {
    animation: ring 2s ease-out infinite;
}

.loading_screen__ball {
    animation-name: ball;
}

@keyframes ring {
    from {
        stroke-dasharray: 0 257 0 0 1 0 0 258;
    }

    25% {
        stroke-dasharray: 0 0 0 0 257 0 258 0;
    }

    50%,
    to {
        stroke-dasharray: 0 0 0 0 0 515 0 0;
    }
}

@keyframes ball {

    from,
    50% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 1;
    }

    64% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -109;
    }

    78% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -145;
    }

    92% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -157;
    }

    57%,
    71%,
    85%,
    99%,
    to {
        animation-timing-function: ease-out;
        stroke-dashoffset: -163;
    }
}
