* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font-family: "Mulish", "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.swal2-container {
    z-index: 10600 !important;
}

#Menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #ffffff;
    border-top: 2px solid rgb(0, 183, 255);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

#Menu .Menu__list {
    width: 100%;
    height: 100%;
    display: flex;
}

#Menu .Menu__list ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

#Menu .Menu__list ul .Menu__list--item {
    position: relative;
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
}

#Menu .Menu__list ul .Menu__list--item.active {
    background-color: rgba(0, 192, 255, 0.2);
}

#Menu .Menu__list ul .Menu__list--item.main {
    position: absolute;
    bottom: 40px;
    width: 87px;
    height: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transform: translateX(-50%) rotate(45deg);
    border-top-left-radius: 100%;
    border: 2px solid rgb(0, 183, 255);
    z-index: 2;
    overflow: hidden;
    left: 50%;
    bottom: 28px;
}

#Menu .Menu__list ul .Menu__list--item.main.active {
    background-color: #ccf2ff;
    z-index: 3;
}

#Menu .Menu__list ul .Menu__list--item.main .icon {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(60%, 60%) rotate(-45deg);
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: #0a7cd5;
}

#Menu .Menu__list ul .Menu__list--item.main .icon i {
    font-size: 34px;
}

#Menu .Menu__list ul .Menu__list--item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
    width: 100%;
    height: 100%;
    padding: 4px 0;
}

#Menu .Menu__list ul .Menu__list--item a .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: #0a7cd5;
    border-radius: 100%;
    color: #fff;
}

#Menu .Menu__list ul .Menu__list--item a .icon i {
    color: #ffffff;
    font-size: 24px;
}


#Menu_tree {
    color: #fff;
    width: 100%;
}

#Menu_tree details > details {
    margin-left: 20px;
}

#Menu_tree details summary {
    padding: 8px;
    margin-bottom: 15px;
    background-color: #fff;
    color: #334155;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;
}

#Menu_tree details summary::after {
    content: attr(data-view);
    font-size: 1em;
    color: green;
    margin-left: 1em;
    border-radius: 100%;
}

#Menu_tree details ul {
    list-style: none;
    margin: 0 0 0 20px;
}

#Menu_tree details ul li {
    padding: 8px;
    width: 100%;
    color: #334155;
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 15px;
}

#Menu_tree details ul input[type=radio] {
    width: 1em;
    height: 1em;
}

.flipdown.flipdown__theme-dark {
    font-family: sans-serif;
    font-weight: bold
}

.flipdown.flipdown__theme-dark .rotor-group-heading:before {
    color: #000
}

.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: #151515
}

.flipdown.flipdown__theme-dark .rotor,
.flipdown.flipdown__theme-dark .rotor-top,
.flipdown.flipdown__theme-dark .rotor-leaf-front {
    color: #fff;
    background-color: #151515
}

.flipdown.flipdown__theme-dark .rotor-bottom,
.flipdown.flipdown__theme-dark .rotor-leaf-rear {
    color: #efefef;
    background-color: #202020
}

.flipdown.flipdown__theme-dark .rotor:after {
    border-top: solid 1px #151515
}

.flipdown.flipdown__theme-light {
    font-family: sans-serif;
    font-weight: bold
}

.flipdown.flipdown__theme-light .rotor-group-heading:before {
    color: #eee
}

.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):before,
.flipdown.flipdown__theme-light .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    background-color: #ddd
}

.flipdown.flipdown__theme-light .rotor,
.flipdown.flipdown__theme-light .rotor-top,
.flipdown.flipdown__theme-light .rotor-leaf-front {
    color: #222;
    background-color: #ddd
}

.flipdown.flipdown__theme-light .rotor-bottom,
.flipdown.flipdown__theme-light .rotor-leaf-rear {
    color: #333;
    background-color: #eee
}

.flipdown.flipdown__theme-light .rotor:after {
    border-top: solid 1px #222
}

.flipdown {
    overflow: visible;
    width: 510px;
    height: 110px
}

.flipdown .rotor-group {
    position: relative;
    float: left;
    padding-right: 30px
}

.flipdown .rotor-group:last-child {
    padding-right: 0
}

.flipdown .rotor-group-heading:before {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center
}

.flipdown .rotor-group:nth-child(1) .rotor-group-heading:before {
    content: attr(data-before)
}

.flipdown .rotor-group:nth-child(2) .rotor-group-heading:before {
    content: attr(data-before)
}

.flipdown .rotor-group:nth-child(3) .rotor-group-heading:before {
    content: attr(data-before)
}

.flipdown .rotor-group:nth-child(4) .rotor-group-heading:before {
    content: attr(data-before)
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 115px;
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 115px;
    width: 10px;
    height: 10px;
    border-radius: 50%
}

.flipdown .rotor {
    position: relative;
    float: left;
    width: 50px;
    height: 80px;
    margin: 0 5px 0 0;
    border-radius: 4px;
    font-size: 4rem;
    text-align: center;
    perspective: 200px
}

.flipdown .rotor:last-child {
    margin-right: 0
}

.flipdown .rotor-top,
.flipdown .rotor-bottom {
    overflow: hidden;
    position: absolute;
    width: 50px;
    height: 40px
}

.flipdown .rotor-leaf {
    z-index: 1;
    position: absolute;
    width: 50px;
    height: 80px;
    transform-style: preserve-3d;
    transition: transform 0s
}

.flipdown .rotor-leaf.flipped {
    transform: rotateX(-180deg);
    transition: all .5s ease-in-out
}

.flipdown .rotor-leaf-front,
.flipdown .rotor-leaf-rear {
    overflow: hidden;
    position: absolute;
    width: 50px;
    height: 40px;
    margin: 0;
    transform: rotateX(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden
}

.flipdown .rotor-leaf-front {
    line-height: 80px;
    border-radius: 4px 4px 0 0
}

.flipdown .rotor-leaf-rear {
    line-height: 0;
    border-radius: 0 0 4px 4px;
    transform: rotateX(-180deg)
}

.flipdown .rotor-top {
    line-height: 80px;
    border-radius: 4px 4px 0 0
}

.flipdown .rotor-bottom {
    bottom: 0;
    line-height: 0;
    border-radius: 0 0 4px 4px
}

.flipdown .rotor:after {
    content: '';
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 40px;
    border-radius: 0 0 4px 4px
}

@media (max-width: 550px) {
    .flipdown {
        width: 312px;
        height: 70px
    }

    .flipdown .rotor {
        font-size: 2.2rem;
        margin-right: 3px
    }

    .flipdown .rotor,
    .flipdown .rotor-leaf,
    .flipdown .rotor-leaf-front,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor:after {
        width: 30px
    }

    .flipdown .rotor-group {
        padding-right: 20px
    }

    .flipdown .rotor-group:last-child {
        padding-right: 0
    }

    .flipdown .rotor-group-heading:before {
        font-size: .8rem;
        height: 20px;
        line-height: 20px
    }

    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before,
    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
        left: 69px
    }

    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):before {
        bottom: 13px;
        height: 8px;
        width: 8px
    }

    .flipdown .rotor-group:nth-child(n+2):nth-child(-n+3):after {
        bottom: 29px;
        height: 8px;
        width: 8px
    }

    .flipdown .rotor-leaf-front,
    .flipdown .rotor-top {
        line-height: 50px
    }

    .flipdown .rotor-leaf,
    .flipdown .rotor {
        height: 50px
    }

    .flipdown .rotor-leaf-front,
    .flipdown .rotor-leaf-rear,
    .flipdown .rotor-top,
    .flipdown .rotor-bottom,
    .flipdown .rotor:after {
        height: 25px
    }
}

.swal2-container {
    z-index: 10600;
}

.loading_screen {
    display: block;
    width: 6.25em;
    height: 6.25em;
}

.loading_screen__ring,
.loading_screen__ball {
    animation: ring 2s ease-out infinite;
}

.loading_screen__ball {
    animation-name: ball;
}

@keyframes ring {
    from {
        stroke-dasharray: 0 257 0 0 1 0 0 258;
    }

    25% {
        stroke-dasharray: 0 0 0 0 257 0 258 0;
    }

    50%,
    to {
        stroke-dasharray: 0 0 0 0 0 515 0 0;
    }
}

@keyframes ball {

    from,
    50% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 1;
    }

    64% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -109;
    }

    78% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -145;
    }

    92% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -157;
    }

    57%,
    71%,
    85%,
    99%,
    to {
        animation-timing-function: ease-out;
        stroke-dashoffset: -163;
    }
}
