* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: rgb(var(--foreground-rgb));
    font-family: "Mulish", "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

#Menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78px;
    background-color: #ffffff;
    border-top: 2px solid rgb(0, 183, 255);
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

#Menu .Menu__list {
    width: 100%;
    height: 100%;
    display: flex;
}

#Menu .Menu__list ul {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 100%;
    height: 100%;
}

#Menu .Menu__list ul .Menu__list--item {
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 4px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 6);
}

#Menu .Menu__list ul .Menu__list--item.active {
    background-color: rgba(0, 192, 255, 0.2);
}

#Menu .Menu__list ul .Menu__list--item.main {
    position: relative;
    bottom: 40px;
    width: 117px;
    height: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transform: rotate(45deg);
    border-top-left-radius: 100%;
    border: 2px solid rgb(0, 183, 255);
    z-index: 2;
    overflow: hidden;
}

#Menu .Menu__list ul .Menu__list--item.main.active {
    background-color: #ccf2ff;
    z-index: 3;
}

#Menu .Menu__list ul .Menu__list--item.main .icon {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(60%, 60%) rotate(-45deg);
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background-color: #0a7cd5;
}

#Menu .Menu__list ul .Menu__list--item.main .icon i {
    font-size: 34px;
}

#Menu .Menu__list ul .Menu__list--item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    text-transform: capitalize;
    color: #333;
}

#Menu .Menu__list ul .Menu__list--item a .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background-color: #0a7cd5;
    border-radius: 100%;
    color: #fff;
}

#Menu .Menu__list ul .Menu__list--item a .icon i {
    color: #ffffff;
    font-size: 24px;
}
